<%= form_with(model: todo_list) do |form| %>
  <% if todo_list.errors.any? %>
    <div class="error-message">
      <%= todo_list.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>

  <%= form.label :title %>
  <%= form.text_field :title %>

  <%= form.submit %>
<% end %>