<div id="<%= dom_id todo_list %>" class="todo-list">
  <%= turbo_frame_tag "edit_todo_list_#{todo_list.id}" do %>
    <h3><%= todo_list.title %></h3>
    
    <% if todo_list.user == current_user %>
      <div id="share_form_<%= todo_list.id %>">
        <%= render "list_shares/form", todo_list: todo_list %>
      </div>
    <% end %>

    <div id="tasks_<%= todo_list.id %>">
      <%= render todo_list.tasks %>
    </div>

    <%= render "tasks/form", task: Task.new(todo_list: todo_list) %>

    <div class="actions">
      <%= link_to "Edit", edit_todo_list_path(todo_list), 
      data: { turbo_frame: "edit_todo_list_#{todo_list.id}" } %>
      <%= button_to "Delete", todo_list_path(todo_list), method: :delete, 
            form: { data: { turbo_confirm: "Are you sure?" } } %>
    </div>
  <% end %>
</div>